.name {
font-size:200%;
align:"center";
 }

 .headers {
color:#696969;
 }

 .POW {
color:#696969;
 align:center;
 } 

#denmark {
color:#696969:
}

#bigbox {
	width: 900px;
	height: 900px;
	border:15px; 
 borer-style:solid;
 border-color:#FFB6C1;
}
